[submodule "flutter_crashlytics"]
	path = flutter_crashlytics
	url = https://github.com/GreenAppers/flutter_crashlytics
[submodule "persistent_canvas"]
	path = persistent_canvas
	url = https://github.com/GreenAppers/persistent_canvas
[submodule "gradient_picker"]
	path = gradient_picker
	url = https://github.com/GreenAppers/gradient_picker
