<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>709488435504-75juldm5o7k93oengtr7lp9a93ev5ev3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709488435504-75juldm5o7k93oengtr7lp9a93ev5ev3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUJc0KiE7wXD6FV4S-Uq4mTx6440mqoW8</string>
	<key>GCM_SENDER_ID</key>
	<string>709488435504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenappers.photoducer.ios</string>
	<key>PROJECT_ID</key>
	<string>photoducer-f3a41</string>
	<key>STORAGE_BUCKET</key>
	<string>photoducer-f3a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709488435504:ios:0f8825f89e2432d3</string>
	<key>DATABASE_URL</key>
	<string>https://photoducer-f3a41.firebaseio.com</string>
</dict>
</plist>